/boilerplate

*.h
*.so
.firebaserc
/*.json
/.bundle
/app/build
/app/pubspec.lock
/app/test/**/*.g.dart
/app/web/*.js
/app/web/*.js.*
/assets/db
/assets/gox
/assets/pprof
/assets/update
/bench
/docs
/hackernews/dart/pubspec.lock
/package
Gemfile.lock
go.sum
package-lock.json
